body {
  background-image: url(../img/darkness.png);
}

.logo {
  font-family: 'Peralta', cursive;
    color: white;
}

.logo a {
  color: white;
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}